@page

@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">Please sign in with the following detail.</p>
        <div class="row mb-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">admin@testsite.com</p>
                        <p class="card-text">P@ssw0rd</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="card-footer text-muted">
            Tech assessment prepared by <strong>Ulbrich Frauendorf</strong>
        </div>
    </div>
</div>




